Source: hildon-desktop3
Section: x11
Priority: optional
Maintainer: Moises Martinez <moimart@gmail.com>
Build-Depends: cdbs (>= 0.4.21), debhelper (>= 4.1.0), pkg-config (>= 0.18), libmatchbox2-dev (>> 0.2.81-1), libclutter-1.0-dev, libxdamage-dev, libxcomposite-dev, libxfixes-dev, libx11-dev, libdbus-glib-1-dev, libxft-dev, libglib2.0-dev, libgtk-3-dev, libgconf2-dev, libhildon3-dev, libhildondesktop3-dev (>= 2.1.6), libcanberra-dev, libxrandr-dev, libgnome-menu-dev, maemo-launcher-dev, libhildonmime-dev, libmx-dev
Standards-Version: 3.8.0

Package: hildon-desktop3
Section: x11
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Hildon desktop for Fremantle
 Hildon desktop for Fremantle.

Package: hildon-desktop3-dbg
Section: devel
Architecture: any
Priority: extra
Depends: hildon-desktop3 (= ${Source-Version})
Description: Debug symbols for Hildon desktop
 Debug symbols for Hildon desktop.
